body {
  font-family: 'Raleway', sans-serif;
  color: #4d4d4d;
}
button {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
#beer-form-wrapper {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
footer {
  min-height: 30vh;
  background-color: #7b1848;
  color: #f0ffff;
}
footer h1 {
  padding-top: 3rem;
  line-height: 3rem;
}
.copyright {
  color: #f0ffff;
  background-color: #7b1848;
}
.btn-info {
  background-color: #aa2264;
  border-color: #aa2264;
}
.btn-info:hover {
  background-color: #7b1848 !important;
  border-color: #7b1848 !important;
}
