@import 'public/styl/*'

body 
  font-family 'Raleway', sans-serif 
  color beertext 

button 
  margin-left 0.25rem
  margin-right 0.25rem

#beer-form-wrapper
  margin-top 5rem
  margin-bottom 5rem
  
footer 
  min-height 30vh
  background-color wine 
  color azure
  h1
    padding-top 3rem
    line-height 3rem

.copyright
  color azure 
  background-color wine 

.btn-info  
  background-color winelt
  border-color winelt

.btn-info:hover
  background-color wine !important
  border-color wine !important
